// =========================================/
// Form 
// =========================================/

.form-details {
	@include flex-container(space-between,flex-start);
	margin-top: 30px;
	.detail {
		width: 49%;
		margin-bottom: 20px;
		h2 {
			font-size: 1.3em;
			font-weight: 500;
			margin-bottom: .5em;
		}
		p {
			color: #a9a9a9;
			font-size: .8em;
		}
		input, select {
			width: 100%;
			padding: 8px;
			border: 1px solid #d3d3d3;
		}
	}
	.detail-email-message {
		width: 100%;
		.atbs-editor {
			.quill {
				.ql-container {
					height: 150px;
					p {
						font-size: 1em;
						color: unset;
					}
				}
			}
		}
	}
}
.form-groups {
	.group {
		@include flex-container(space-between,center);
		padding: 0px 30px;
		position: relative;
		margin-bottom: 20px;
		.lines {
			position: absolute;
			color: #d3d3d3;
			cursor: move;
			left: 0;
	    font-size: 1.5em;
	    top: 26px;
			&:hover {
				color: gray;
			}
		}
		.delete {
			font-size: 1.5em;
			top: 23px;
			color: #d3d3d3;
			position: absolute;
			padding: 0px 5px;
			cursor: pointer;
			right: 0;
			&:hover {
				color: gray;
			}
		}
		.input {
			background-color: $color-white;
			padding: 20px;
			@include flex-container(flex-start,center);
			border-radius: 5px;
			box-shadow: 2px 2px 2px #d3d3d3;
			position: relative;
			cursor: move;
			p {
				margin: 0px 10px 0px 0px;
		    width: 75px;
		    background-color: #333;
		    color: #fff;
		    border-radius: 3px;
		    font-size: .8em;
		    text-align: center;
			}
			label {
				font-weight: 400;
				margin-right: 5px;
				font-size: 1em;
			}
			input {
				font-size: .9em;
				padding: 5px;
				max-width: 20%;
				margin-right: 10px;
			}
			.required-input {
				margin-right: 0px;
			}
		}
		.text-input {
			width: 100%;
			max-width: calc(100% - 133px);
		}
	}
	.group-submit {
		.input {
			cursor: default;
		}
	}
}
.form-buttons {
	@include flex-container(flex-start,center);
	margin: 50px 0px;
	p {
		margin: 0px 20px 0px 0px;
		font-weight: 600;
		padding-left: 20px;
	}
	.button {
		padding: 10px;
		cursor: pointer;
		border: 2px dashed #d3d3d3;
		width: 150px;
		border-radius: 5px;
		text-align: center;
		background-color: $color-white;
		margin-right: 15px;
		font-weight: 400;
		&:hover {
			border: 2px solid #d3d3d3;
		}
	}
}