// =========================================/
// Queries
// =========================================/

.admin-vert-list {
	.avl-select-header {
		@include flex-container(space-between,center);
		padding-bottom: 12px;
		select {
			font-size: .8em;
			padding: 6px;
		}
		a {

		}
	}
	.avl-search-filter {
		padding-bottom: 20px;
		input[type=text] {
			font-size: .8em;
			padding: 6px;
			margin-right: 20px;
		}
		label {
			font-weight: 400;
			input {
				margin-left: 5px;
			}
		}
	}
	.avl-post {
		padding: 0px;
		.query {
			.query-header {
				padding: 30px;
				@include flex-container(space-between,center);
				cursor: pointer;
				p {
					margin: 0px;
				}
			}
			.query-fields {
				height: 0px;
				overflow: hidden;
				p {
					font-weight: 600;
					border-bottom: 1px solid #f2f2f2;
					padding-bottom: 5px;
					margin-bottom: 8px;
					span {
						font-weight: 400;
						margin-left: 10px;
					}
					margin-top: -1px;
				}
				.actions {
					margin-top: 25px;
					label {
						font-weight: 400;
						margin-right: 15px;
						input {
							margin-left: 5px;
						}
					}
				}
			}
			.query-fields.active {
				padding: 0px 30px 30px;
				height: auto;
			}
		}
	}
}